# Ansible
ansible/keys/admins/*
ansible/keys/users/*
ansible/keys/ansible/*

!ansible/keys/admins/.gitkeep
!ansible/keys/users/.gitkeep
!ansible/keys/ansible/.gitkeep

# OpenTofu
opentofu/.terraform/
opentofu/*.tfstate
opentofu/*.tfstate.*
opentofu/certs/
opentofu/backend.conf

# Secrets
k3s/*-secret.yaml
!k3s/*-secret.yaml.template

# Editor
*.swp
*~
.vscode/
.idea/